<div class="sign-up">
  <h1>New profile</h1>
  <%= form_for :user, url: '/users' do |f| %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %> <br>
      <%= f.text_field :surname, class: 'form-control', placeholder: 'Surame'  %> <br>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email'  %> <br>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Password'  %> <br>
      <%= f.text_field :address, class: 'form-control', placeholder: 'Address: country, city'  %> <br>
      <%= f.text_field :height, class: 'form-control', placeholder: 'Height, cm.' %><br>
      <%= f.text_field :weight, class: 'form-control', placeholder: 'Weight, kg.' %><br>
      <%= f.text_field :goalweight, class: 'form-control', placeholder: 'Goal weight, kg.' %><br>
      <%= f.submit "Registration", class: 'btn btn-success' %>
  <% end %>
</div>